.detail_cover {
	img {
		width: 100%;
		display: block;
	}
	margin-bottom: 30px;

}
.detail_left {
	float: left;
	width: calc(100% - 330px);
	margin-bottom: 30px;
	h1 {
		line-height: 140%;
		margin-bottom: 30px;
	}
	h2 {
		font-size: 22px;
		margin-top: 50px;
		margin-bottom: 20px;
	}
	h3 {
		font-size: 20px;
	}
	p {
		margin: 0;
		padding: 0;
		margin-bottom: 15px;
	}
	.gal_img {
		a {
			float: left;
			width: calc(33.3% - 15px);
			margin: 0 15px 15px 0;
		}
	}
	.list_rp {
		strong {
			margin-bottom: 10px;
		}
		ol {
			padding:0;
			margin: 0;
			padding-left: 15px;
			margin-bottom: 20px;
		}
	}
}
.detail_right {
	width: 300px;
	float: right;
}
.box_ {
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow:    0px 0px 10px 0px rgba(0, 0, 0, 0.2);
	box-shadow:         0px 0px 10px 0px rgba(0, 0, 0, 0.2);
	.title2 {
		background:$blue;
		height: 50px;
		line-height: 50px;
		color: #fff;
		font-size: 20px;
		font-weight: bold;
		padding-left: 20px;
	}
	.text {
		padding:15px 20px 0;
		.title {
			color: #000;
			font-size: 18px;
			font-weight: bold;
			margin: 0;
			padding:0;
			padding-bottom: 15px;
		}
		.kotapergi {
			display: none;
		}
		.group-input {
			padding: 10px 0;
			border-top:1px solid $abu2;
			.ico {
				width: 50px;
				height: 50px;
				text-align: center;
				float: left;
				margin-right: 10px;
				img {
					height: 100%;
				}
			}
			.input-date {
				float: left;
				width: calc(50% - 40px);
				font-size: 15px;
				color: #000;
				margin-left: 10px;
				font-weight: bold;
				span {
					display: block;
					font-size: 11px;
					color: $abu3;
					font-weight: normal;
				}
				input {
					display: block;
					border: 0;
					border-bottom:1px solid $abu2;
					height: 20px;
					outline: none;
					width: 95%;
					font-size: 15px;

				}
				&.input-date_full {
					width: calc(100% - 70px);
				}
			}
			.dnone {
				display: none;
			}
			.info {
				float: left;
				height: 50px;
				line-height: 50px;
			}
			.input_num {
				float: right;
				margin-top: 12px;
				img {
					height: 18px;
					float: left;
					margin-top: 3px;
				}
				input {
					float: left;
					width: 25px;
					font-size: 22px;
					font-weight: bold;
					outline: none;
					margin: 0 5px;
					border: 0;
					text-align: center;
					font-family: $font_reg;
				}
				.qtyminus,
				.qtyplus {
					border-radius:100px;
					width: 20px;
					height: 20px;
					line-height:15px;
					background:#CBCBCB;
					text-align: center;
					font-size: 15px;
					cursor: pointer;
					margin-top: 2px;
				}
				.qtyminus:hover,
				.qtyplus:hover {
					background:$green;
					color: #fff;
				}
			}
		}
	}
	.price {
		border-top:1px solid $abu2;
		padding: 10px 20px;
		font-size: 13px;
		.price2 {
			padding: 5px 0;
			position: relative;
			font-size: 12px;
			color: #F25A2B;
			border-top:1px dotted $abu2;
			.status {
				position: absolute;
				right: 0;
				top: 25px;
				font-size: 12px;
				background: $abu2;
				color: #000;
				font-weight: bold;
				padding: 3px 7px;
				border-radius:3px;
				height: 15px;
				line-height: 15px;
				&.soldout {
					background: red;
					color: #fff;
				}
			}
			strong {
				display: block;
				color: #000;
				font-size: 18px;
			}
		}
		.bni_price {
			border: 2px solid #FF9F00;
			padding: 8px;
			margin: 5px 0;
			color: #F3590D;
			line-height: 120%;
			.bp_1 {
				font-size: 12px;
				color: #898989;
				font-weight: normal;
			}
			strong {
				font-size: 18px;
				padding-top:5px;
				display: block;
			}
		}
	}
	.total {
		padding: 10px 20px;
		background: $abu1;
		border-top:1px solid $abu2;
		border-bottom:1px solid $abu2;
		.num {
			float: left;
			color: #4A4A4A;
			font-size: 12px;
			strong {
				display: block;
				font-weight: bold;
				font-size:24px;
			}
			span {
				color: #9B9B9B;
				line-height: 110%;
			}
		}
		.sisa {
			float: right;
			text-align: center;
			display: none;
		}
	}
	.total2 {
		background:$blue;
		color: #fff;
		text-align: center;
		.num {
			float: none;
		}
		.num, strong, span {
			color: #fff;
		}
		b {
			display: block;
			font-size: 15px;
			padding-bottom:5px;
		}
	}
	.btn_submit {
		height: 40px;
		line-height: 40px;
		font-family: $font_reg;
		background:$green;
		color: #fff;
		padding:0 30px;
		border-radius:100px;
		font-size: 15px;
		font-weight: bold;
		border:0;
		margin: 15px 0;
		cursor: pointer;
		-webkit-transition: all 0.5s ease 0s;
		-moz-transition: all 0.5s ease 0s;
		-o-transition: all 0.5s ease 0s;
		transition: all 0.5s ease 0s;
		&:hover {
			background:$blue;
		}
	}
}
.nav_order {
	height: 70px;
	background:$blue;
	color:#fff;
	font-size: 16px;
	line-height:70px;
	margin-top:5px;
	margin-bottom: 30px;
	.page {
		font-size: 22px;
		float: left;
		font-weight: bold;
	}
	.order_pos {
		float: right;
		span {
			float: left;
			margin-left: 30px;
			&.selected {
				color: $blue2;
			}
		}
	}
}
.title3 {
	padding-left: 10px;
	margin-bottom: 20px;
}
.box_wisatawan,
.box_kontak {
	border:1px solid $abu2;
	float: left;
	width:calc(50% - 22px);
	margin: 10px; 
	.t_box {
		height: 50px;
		line-height: 50px;
		padding-left: 10px;
		font-size: 18px;
		color: #fff;
		background:$blue;
		.ico {
			float: left;
			height: 50px;
			margin-right: 10px;
			img {
				height: 100%;
				-webkit-filter: invert(100%); /* Safari 6.0 - 9.0 */
    			filter: invert(100%);
			}		
		}
	}
	.text {
		padding: 15px 15px 20px;
		.group-input {
			padding-bottom:15px;
			label {
				display: block;
				color: #9B9B9B;
			}
			select {
				height: 30px;
				width: 100%;
				border:0px solid $abu3;
				padding:0;
				outline: none;
				font-size: 14px;
			}
			input {
				outline: none;
				height: 30px;
				font-size: 14px;
				border:0;
			    border-bottom: 1px solid #ccc;
			    width: 100%;
			    overflow: hidden;
			    margin-bottom: 10px;
			}
			.select3 {
				float: left;
				width: calc(33.3% - 10px);
				margin-right: 15px;
				&:last-child {
					margin-right: 0;
				}
			}
			.credit-input {
				float: left;
			}
			.bni_card_info {
				font-size: 11px;
				border: 1px solid $abu2;
				padding:2px 5px;
				border-radius:3px;
				margin-left: 15px;
				margin-top: 5px;
				display: inline-block;
			}

		}
	}
	&.box_wisatawan2 {
		width: calc(100% - 22px);
	}
	.t_payment {
		padding: 15px;
		background:#eee;
		h1 {
			font-size: 22px;
			margin: 0;
			padding:0;
		}
	}
	.select_card {
		display: block;
		float: left;
		margin-top: 15px;
		padding: 5px;
		border-radius: 5px;
		font-size: 11px;
		text-align: center;
		img {
			height: 90px;
			display: block;
		}
		input {
			display: block;
		}
		&:hover {
			-ms-transform: cale(1.1); /* IE 9 */
		    -webkit-transform: scale(1.1); /* Chrome, Safari, Opera */
		    transform: scale(1.1);
		    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
			-moz-box-shadow:    0px 0px 10px 0px rgba(0, 0, 0, 0.2);
			box-shadow:         0px 0px 10px 0px rgba(0, 0, 0, 0.2);
			background: #fff;
			cursor: pointer;
			z-index: 2;
		}
		&.selected {
			-ms-transform: cale(1.1); /* IE 9 */
		    -webkit-transform: scale(1.1); /* Chrome, Safari, Opera */
		    transform: scale(1.1);
		    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
			-moz-box-shadow:    0px 0px 10px 0px rgba(0, 0, 0, 0.2);
			box-shadow:         0px 0px 10px 0px rgba(0, 0, 0, 0.2);
			background: #F5A623;
		}
	}

}
.box_kontak {
	width:calc(100% - 20px);
	margin:10px;
}
.blue_block {
	background:$blue;
	color:#fff;
	padding: 50px 0;
	margin-bottom: 30px;
	h1 {
	}
}
.box_2 {
	margin-bottom: 30px;
	background:#FFF;
	.info_box {
		border-bottom: 1px solid $abu2;
	}
	.title {
		font-size: 22px !important;
		height: 80px;
		line-height: 80px;
		width: 100%;
		margin-bottom: 10px !important;
		.logoinv {
			height: 100%;
			float: left;
			margin-right: 30px;
		}
		.code {
			float: right;
			font-size: 13px !important;
			text-align: center;
			line-height: normal;
			strong {
				display: block;
				color: $green;
				font-size: 22px !important;
			}
		}
		border-bottom: 1px solid $abu2;
	}
	.info_time {
		float: left;
		width: 50%;
		.input-date {
			font-size: 18px !important;
		}
		span {
			font-size: 14px !important;
		}
	}
	.group-input {
		padding: 20px 0 !important;
		border:0 !important;
	}
	.info_wis {
		float: left;
		width: calc(25% - 22px);
		padding-left: 20px !important;
		border-right:1px solid $abu2 !important;
		border-left:1px solid $abu2 !important;
		font-weight: bold;
		font-size: 18px !important;
	}
	.info_total {
		float: left;
		padding-top: 10px;
		width: calc(25% -25px);
		padding-left: 20px;
		font-size: 13px !important;
		strong {
			display: block;
			font-size: 22px;
		}
	}
}
.btn {
	height: 40px;
	display:inline-block;
	line-height: 40px;
	font-family: $font_reg;
	background:$green;
	color: #fff;
	padding:0 30px;
	border-radius:100px;
	font-size: 15px;
	font-weight: bold;
	border:0;
	margin: 15px 0;
	cursor: pointer;
	-webkit-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
	&:hover {
		background:$blue;
	}
}
.infowisatawan {
	padding-top: 10px;
	.iw {
		padding-top:15px;
		.no {
			float:left;
			width: 30px;
		}
		.isi {
			float: left;
			width: calc(100% - 30px);
			.jdl {
				float: left;
				width: 150px;
			}
			.isi2 {
				float: left;
				width:calc(100% - 150px);
				font-weight: bold;
			}
		}
	}
}
.line {
	border-top:1px solid $abu2;
}
.list_nama {
	padding:0;
	margin:0;
	padding-left: 20px;
}
.white_block {
	min-height:400px;
	padding: 70px 0 20px;
}
.group-input5 {
	float: left;
	width:calc(50% - 15px);
	margin-right: 15px;
	margin-top:5px;
}
.supplement {
	padding: 20px;
	label {
		
		display: block;
		input {
			float: left;
			width: 20px;
		}
		.text {
			float: right;
			width: calc(100% - 30px);
			padding:0;
			padding-bottom:20px;
			strong {
				display: block;
			}
		}
	}
}
.simulasi_cicil {
	border-top:1px solid $abu2;
	padding-bottom: 20px !important;
	.fl,
	.fr {
		padding-top: 10px;
	}
}
.detail_konfirmasi {
	float: none;
	width: 600px;
	margin:0 auto;
}









