header {
	background:#fff;
	height: 50px;
	line-height: 50px;
	padding: 15px;
	position: fixed;
	width: 100%;
	z-index: 4;
	top:0;
	border-bottom:1px solid $abu2;
	.logo {
		width: 80px;
		position: absolute;
		left: 0;
		-webkit-transition: all 0.5s ease 0s;
			-moz-transition: all 0.5s ease 0s;
			-o-transition: all 0.5s ease 0s;
			transition: all 0.5s ease 0s;
	}
	.logo_ayo {
		width: 130px;
		position: absolute;
		left: 0;
		display: none;
		/* animation-name: slideUp;
    	animation-duration: 0.5s; */
	}
	&.smaller {
		.logo_ayo {
			display: none;
		}
		.logo { 
			width: 80px;
		}
	}
	#nav {
		float: right;
		font-size: 18px;
		a {
			float: left;
			color: #000;
			margin-right: 30px;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	.language {
		float: right;
		height: 40px;
		line-height: 25px;
		margin-top: 12px;
		margin-left: 20px;
		img {
			height: 25px;
			float: left;
		}
		span {
			float: left;
			padding: 0 10px;
		}
		.arrow {
			height: 10px;
			margin-top: 8px;
		}

		.box_bahasa {
			display: none;
			position: absolute;
			background: #fff;
			-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
			-moz-box-shadow:    0px 0px 10px 0px rgba(0, 0, 0, 0.2);
			box-shadow:         0px 0px 10px 0px rgba(0, 0, 0, 0.2);
			padding: 8px 15px;
			border-radius:5px;
			width: 150px;
			top: 45px;
			right: -15px;
			a {
				color: #000;
				display: block;
				font-size: 13px;
				&:hover {
					text-decoration: underline;
				}
			}
		}
		&:hover {
			.box_bahasa {
				display: block;
			}
		}
	}
	.user_login {
		float: right;
		height: 25px;
		margin-top: 12px;
		margin-right: 20px;
		line-height: 25px;
		color: #000;
		a {
			color: #000;
			&:hover {
				text-decoration: underline;
			}
		}
	}

}
.home {
	header {
		.logo {
			width: 360px;
			margin-top: 5px;
		}
		&.smaller {
			.logo {
				width: 80px;
				margin-top: 0;
			}
		}
	}

}

#footer {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#008c9a+0,006e6c+100 */
	background: #008c9a; /* Old browsers */
	background: -moz-linear-gradient(top, #008c9a 0%, #006e6c 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #008c9a 0%,#006e6c 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #008c9a 0%,#006e6c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008c9a', endColorstr='#006e6c',GradientType=0 ); /* IE6-9 */
	color:#fff;
	padding: 10px 0;
	.fl {
		font-size: 12px;
		margin-bottom: 10px;
		img {
			height: 40px;
			display: block;
			margin-right: 20px;
		}
		.logo_foot {
			height: 40px;
			line-height: 40px;
		}
		a {
			color: #fff;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	.foot_sosmed {
		float: right;
		height: 25px;
		line-height: 25px;
		font-size: 13px;
		margin-top: 20px;
		span {
			float: left;
		}
		img {
			height: 25px;
			float: left;
			margin-left: 20px;
			opacity: 0.7;
			-webkit-transition: all 0.5s ease 0s;
			-moz-transition: all 0.5s ease 0s;
			-o-transition: all 0.5s ease 0s;
			transition: all 0.5s ease 0s;
			&:hover {
				opacity: 1;
			}
		}
	}
}