.body_pop {
	background:rgba(0,0,0,0.8);
	padding-top: 0;
}
.body_pop2 {
	position:fixed;
	width:100%;
	 height: 100%;
	 top: 0;
	 left: 0;
	 z-index: 5;
}
.pop_box {
	position: fixed;
	top:0;
	left:0;
	z-index: 5;
	width: 100%;
	height: 100%;
	iframe {
		width: 100%;
		height: 100%;
		background:none;
	}
}

.pop_bg {
	position: absolute;
	z-index:1;
	text-align:center;
	margin:0 auto;
	width:850px;
	background:#fff;
	height:400px;
	left:calc(50% - 425px);
	top: calc(50% - 200px);
	border:1px solid #fff;

}
.container_pop {
	position: absolute;
	background:#fff;
	padding:30px;
	width:300px;
	left:calc(50% - 210px);
	top:calc(50% - 200px);
	border-radius: 10px;
	animation-name: fadein;
    animation-duration: 0.2s;
	.close_box_in {
		position: absolute;
		height: 15px;
		padding: 15px;
		background:$abu2;
		border-radius:100px;
		right: -20px;
		top: -20px;
		cursor: pointer;
		&:hover {
			background:red;
		}
	}
	.title_pop {
		text-align: center;
		letter-spacing: 3px;
		font-size: 22px;
		margin-bottom: 40px;
	}
	.group-input {
		margin-bottom: 20px;
		label {
			font-size: 12px;
			color: #4A4A4A;
			display: block;
			margin-bottom: 5px;
		}
		input {
			display: block;
			border:0;
			border-bottom:1px solid $abu2;
			height: 25px;
			font-family:$font_reg;
			outline: none;
			width: 100%;
			font-size: 16px;
			
		}
	}
	.btn {
		height: 40px;
	    line-height: 40px;
	    font-family: foreverff;
	    background: #019198;
	    color: #fff;
	    padding: 0 30px;
	    border-radius: 100px;
	    font-size: 15px;
	    font-weight: bold;
	    border: 0;
	    margin: 15px 0;
	    cursor: pointer;
	    -webkit-transition: all 0.5s ease 0s;
	    -moz-transition: all 0.5s ease 0s;
	    -o-transition: all 0.5s ease 0s;
	    transition: all 0.5s ease 0s;
	    &:hover {
	    	background:$blue2;
	    }
	}
	a {
		color: $green;
		font-weight: bold;
		&:hover {
			text-decoration: underline;
		}
	}
	input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
	    background-image: none;
	    color: rgb(0, 0, 0);
	}
}
.container_pop2 {
	background:none;
	width:900px;
	left: calc(50% - 450px);
	padding:0;
}
.container_pop_bni {
	width:400px;
	left: calc(50% - 200px);
	a {
		display: block;
		img {
			width: 100%;
		}
	}
}
.notif {
	padding: 5px 10px;
	border:1px solid red;
	font-size:13px;
	color: red;
	margin-bottom: 20px;
	&.notif_green {
		border-color: green;
		color: green;
	}
}
.close_box_out {
	position: fixed;
	height: 15px;
	padding: 15px;
	right: 0;
	top: 0;
	background:$abu2;
	border-radius:100px;
	margin: 30px;
	cursor: pointer;
	z-index: 5;
	&:hover {
		background:red;
	}
}
.offer_cc {
	text-align:center;
	line-height:130%;
	h2 {
		line-height: 110%;
		margin-bottom: 20px;
	}
}



