body {
	padding:0;
	margin:0;
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
h1, h2, h3, h4, h5, h6 {
	margin:0;
	padding:0;
}
.clearfix {
	clear: both;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.bold {
	font-weight: bold;
}
.normal {
	font-weight: normal;
}
a {
	text-decoration:none;
}
.blue {
	color: #74CBD3 !important;
}
.box_img{
	display: block;
	position:  relative;
	width: 100%;
}
.box_img:before{
	content: "";
	display: block;
	padding-top: 100%; /* initial ratio of 1:1*/
}
/* Other ratios */
.ratio2_1:before{
	padding-top: 50%;
}
.ratio3_1:before{
	padding-top: 40%;
}
.ratio4_1:before{
	padding-top: 25%;
}
.ratio1_2:before{
	padding-top: 200%;
}
.ratio4_3:before{
	padding-top: 75%;
}
.ratio5_3:before {
	padding-top:65%;
}
.ratio3_4:before{
	padding-top: 133%;
}
.ratio16_9:before{
	padding-top: 56.25%;
}
.ratio9_16:before{
	padding-top: 178%;
}
.ratio9_8:before{
	padding-top: 85%;
}
.ratio6_2:before {
	padding-top:40%;
}
.m10 {
	margin:10px;
}

.img_con{
	/* Positioning */
	position:  absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;

	/* Styling */
	text-align: center;
	vertical-align: center;

	overflow: hidden;
}
.img_con {
	img {
		height: 100%;
	}
	iframe {
		height: 100%;
		width: 100%;
	}
}
.ui-widget-content {
	background: #fff;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow:    0px 0px 10px 0px rgba(0, 0, 0, 0.2);
	box-shadow:         0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.ui-datepicker { width: 17em; padding: .2em .2em 0; display: none; }
.ui-datepicker .ui-datepicker-header { position:relative; padding:.2em 0; }
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next { position:absolute; top: 2px; width: 1.8em; height: 1.8em; }
.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover { top: 1px; }
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next { 
	padding: 3px; width: 50px; text-align:center;
	margin: 0 3px; 
}
.ui-datepicker .ui-datepicker-next {right:0;}
.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover { 
	background:#eee;
	border-radius:3px;
}
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span { 
	display: block; position: absolute; left: 50%; margin-left: -12px; top: 50%; margin-top: -9px;  
}
.ui-state-default {
	background:#FFCC2E;
	border-radius:100px;
}
.ui-state-disabled {
	.ui-state-default {
		opacity: 0.3;
		background:#fff;
	}
}
.ui-datepicker-today {
	.ui-state-default {
		background:#F8E81C;
	}
}
.ui-state-active {
	background:#0392A0;
	color:#fff !important;
}

.ui-datepicker .ui-datepicker-title { margin: 0 2.3em; line-height: 1.8em; text-align: center; }
.ui-datepicker .ui-datepicker-title select { font-size:1em; margin:1px 0; }
.ui-datepicker select.ui-datepicker-month-year {width: 100%;}
.ui-datepicker select.ui-datepicker-month, 
.ui-datepicker select.ui-datepicker-year { width: 49%;}
.ui-datepicker table {width: 100%; font-size: .9em; border-collapse: collapse; margin:0 0 .4em; }
.ui-datepicker th { padding: .7em .3em; text-align: center; font-weight: bold; border: 0;  }
.ui-datepicker td { border: 0; padding: 1px; }
.ui-datepicker td span, .ui-datepicker td a { display: block; padding: .2em; text-align: center; text-decoration: none; color:#000}
.ui-datepicker .ui-datepicker-buttonpane { background-image: none; margin: .7em 0 0 0; padding:0 .2em; border-left: 0; border-right: 0; border-bottom: 0; }
.ui-datepicker .ui-datepicker-buttonpane button { float: right; margin: .5em .2em .4em; cursor: pointer; padding: .2em .6em .3em .6em; width:auto; overflow:visible; }
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current { float:left; }

/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi { width:auto; }
.ui-datepicker-multi .ui-datepicker-group { float:left; }
.ui-datepicker-multi .ui-datepicker-group table { width:95%; margin:0 auto .4em; }
.ui-datepicker-multi-2 .ui-datepicker-group { width:50%; }
.ui-datepicker-multi-3 .ui-datepicker-group { width:33.3%; }
.ui-datepicker-multi-4 .ui-datepicker-group { width:25%; }
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header { border-left-width:0; }
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header { border-left-width:0; }
.ui-datepicker-multi .ui-datepicker-buttonpane { clear:left; }
.ui-datepicker-row-break { clear:both; width:100%; font-size:0em; }

/* RTL support */
.ui-datepicker-rtl { direction: rtl; }
.ui-datepicker-rtl .ui-datepicker-prev { right: 2px; left: auto; }
.ui-datepicker-rtl .ui-datepicker-next { left: 2px; right: auto; }
.ui-datepicker-rtl .ui-datepicker-prev:hover { right: 1px; left: auto; }
.ui-datepicker-rtl .ui-datepicker-next:hover { left: 1px; right: auto; }
.ui-datepicker-rtl .ui-datepicker-buttonpane { clear:right; }
.ui-datepicker-rtl .ui-datepicker-buttonpane button { float: left; }
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current { float:right; }
.ui-datepicker-rtl .ui-datepicker-group { float:right; }
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header { border-right-width:0; border-left-width:1px; }
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header { border-right-width:0; border-left-width:1px; }

/* IE6 IFRAME FIX (taken from datepicker 1.5.3 */
.ui-datepicker-cover {
    position: absolute; /*must have*/
    z-index: -1; /*must have*/
    filter: mask(); /*must have*/
    top: -4px; /*must have*/
    left: -4px; /*must have*/
    width: 200px; /*must have*/
    height: 200px; /*must have*/
 }

.bgfloat {
	position: absolute;
	width:100%;
	height:100%;
	background:rgba(0,0,0, 0.7);
	top:0;
	left:0;
	z-index: 1;
}
.bgfloat2 {
	position: absolute;
	width:100%;
	height:100%;
	background:rgba(0,0,0, 0.3);
	top:0;
	left:0;
	z-index: 1;
}
.bgfloat_w {
	position: absolute;
	width:100%;
	height:100%;
	background:rgba(255,255,255, 0.3);
	top:0;
	left:0;
	z-index: 1;
}
.gradtop {
	background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
	position: absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	z-index: 1;
}
.gradtop_w2 {
	background: -moz-linear-gradient(top, rgba(255,255,255,0.85) 20%, rgba(255,255,255,0) 70%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(255,255,255,0.85) 20%,rgba(255,255,255,0) 70%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(255,255,255,0.85) 20%,rgba(255,255,255,0) 70%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
	position: absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	z-index: 1;
}
.graddown {
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
	position: absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	z-index: 1;
}
.shadow {
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
	-moz-box-shadow:    0px 0px 10px 0px rgba(0, 0, 0, 0.6);
	box-shadow:         0px 0px 10px 0px rgba(0, 0, 0, 0.6);
}

