.select-style {
    border:0;
    border-bottom: 1px solid #ccc;
    width: 100%;
    overflow: hidden;
    background: #fff url("../images/arrow_down.png") no-repeat 98% 50%;
    margin-bottom: 10px;
    font-size: 15px;
}


.select-style select {
    padding: 10px 10px;
    width: 100%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.select-style select:focus {
    outline: none;
}
.select-style2 {
    width: 25%;
    float: right;
    margin-top: 5px;
    select {
        font-size: 15px;
    }
}


input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
	background-color:#fff !important;
}
.form-error {
    font-size: 12px;
    padding-bottom: 10px;
    color: red;
}
.error {
    border-color: red !important;
}

.group-input3 {
    float: left;
    width: 65%;
    .group-input {
        float: left;
        width: calc(50% - 15px);
        margin-right: 15px;
        label {
            font-size: 12px;
        }
    }
}
.group-input2 {
    float:right;
    width: 30%;
    &.input_security {
        input {
            margin-top: 20px;
        }
        span {
            display: inline-block;
            position: relative;
            font-size: 10px;
            width: 15px;
            height: 15px;
            line-height: 15px;
            text-align: center;
            border-radius:100px;
            color: #000;
            background:#FFC20F;
            margin-left: 15px;
            cursor: pointer;
            
            .cc_back {
                display: none;
                height: 150px;
                position: absolute;
                right: -10px;
                bottom:20px;
                img {
                    height: 100%;
                }
            }
            &:hover {
                .cc_back {
                    display: block;
                }
            }
        }
    }
}
.text {
    .group-input {
        .credit-input {
            padding-bottom: 10px;
            .credit-cell {
                float: left;
                width: 50px;
                font-size: 16px;
            }
        }
    }
}
.tnc_box {
    padding:15px;
    font-weight: bold;
    a {
        color: #019198;
        &:hover {
            text-decoration: underline;
        }
    }
}




