<body style="margin:0; padding:0;">
<div style="margin: 0; font-family: arial;font-size: 13px;background: #fff; color:#555555; border:1px solid #ccc;">
	<div style="color:#b8b8b8; font-size:26px; text-align:center; background:#F0F0F0; padding:15px;">
		<img src="logo.png" height="100">
	</div>
	<div style="margin: 0 auto;text-align: center;background: #ffffff;padding: 15px;">
		<div style="color:#3b3b3b;font-size: 18px;font-weight: bold; margin-bottom: 10px;">Activate your account </div>
		<div style="line-height:130%; color:#6f6f6f;">
			Halo Rudianto! Selamat bergabung di Garuda Indonesia-Ayo Liburan, aktifkan akunmu segera dengan menekan tombol Aktivasi Sekarang dibawah ini
			<br><br>
			<i>Halo Rudianto, Welcome to Garuda Indonesia - Ayo Liburan! Click Activate Now to activate your account </i>
			<br><br>
			<a href="#" style="background:red; color: #fff; font-weight: bold; font-size: 15px; border-radius: 100px; padding: 10px 25px; display: inline-block; text-decoration: none; ">Activate Now</a>
		</div>
	</div>
	<div style="text-align:center; font-size: 11px; padding: 10px;">Copyright © 2017 Garuda Indonesia. All rights reserved</div>
	
</div>
</body>
